body{
	margin: 0;
}

.images{
	padding: 50px 0;
}
.container{
	/*color: magenta;
	width: 50px;*/
	margin: 0 auto;
	overflow: hidden;
/*	width: 1320px;*/
}
.mag{
	color: magenta;
	font-size: 50px;
}
.gr{
	color: green;
	font-size: 40px;
}
.bl{
	color: blue;
	font-size: 30px;
}
.img_item{
	float: left;
	box-sizing: border-box;
	width: 25%;
	padding: 0 3px;
}
.img_item img{
	width: 100%;
}
